<div class="jumbotron jumbotron-fluid m-3">
  <div class="container">
    <h1 class="text-center"><i class="fas fa-glass-cheers"></i><br>注文が<br>完了しました</h1>
    <div class="text-center">
      <a class="btn btn-secondary btn-lg m-3 text-white" href="/recipe/list" role="button"><i class="fas fa-glass-cheers"></i>　Go to Recipies</a>
    </div>
  </div>
</div>
