<h1 class="text-center m-5"><%= @word %></h1>
<div align="center">
    <%= image_tag 'shigehisa.png', width: '70%', height: '70%' %>
  <a class="btn btn-secondary btn-lg m-3" href="/" role="button"><%= @apologize%></a>
</div>
