<div class="jumbotron">
  <div align="center">
    <h5 class="display-6">まあまあ適当なカクテルバー</h5>
    <p class="lead">Welcome to Cocktail BAR.</p>
    <hr class="my-4">
    <%= image_tag 'bar_image.jpeg', width: '70%', height: '70%' %>
    <a class="btn btn-secondary btn-lg mx-3 mt-4" href="/recipes/list" role="button"><i class="fas fa-glass-cheers"></i>　Go to Recipies</a>
    <a class="btn btn-secondary btn-lg mx-3 mt-4" href="/do_not_come_to_shigehisa" role="button">しげひさを呼ぶ</a>
  </div>
</div>