.jumbotron.jumbotron-fluid.m-3
  .container
    %h3.text-center
      <i class="fas fa-glass-cheers"></i><br>注文が完了しました
    .text-center
      %a.btn.btn-secondary.btn-lg.m-3.text-white{href:"/recipes/menu", role:"button"}
        <i class="fas fa-glass-cheers"></i>　Go to Recipies