.m-3
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-3
    %h3 カクテルリスト

  %ul.list-group  
    - @recipes.each do |r|
      %a.list-group-item{href: "/recipe/detail/#{r[:id]}"}
        %span.text-dark.font-weight-bold
          = r[:name]