.m-3
  %ul.list-group  
    - @user_ranking.each_with_index do |u, i|
      .list-group-item
        .row.m-0.p-0
          .col.text-left.m-0.p-0
            %span.mr-1
              = i + 1
              位 
            %span
              = u.name
          .col.text-right.m-0.p-0
            = u.review_count
            レビュー